/* CSS Comment */
/* HTML | Body */
html, body {
font-family: Arial, Helvetica, sans-serif; 
background-color: #000000; 
color: #00FF7F; 
cursor: url("/img/cursor.png"), default;
/*display: ; */
margin: 4px;
}

/* Links */
a, a:link {
color: #00FF7F; 
font-size: 18px; 
text-decoration: none; 
display: inline;
}

a:hover, a:active {
color: #000000; 
font-size: 18px; 
text-decoration: none; 
display: inline;
}

/* Nav */
nav {
display: inline;
}

/* Headings */
h1, h2 {
margin: 2px 0px;
}
